/*Ajustes dos Padrões de Formatação */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Redefinição da função de exibição HTML5 para navegadores mais antigos */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  font-family: "Iansui", cursive;
}

body {
  line-height: 1;
  background-color: #f5e9dc;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fixFloat {
  clear: both;
}

.top {
  background-color: #b450f5;
  width: 100%;
  height: auto;
  display: flex;
}

.nav_header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: super;
}

.ul_header {
  display: inline-flex;

  a {
    text-decoration: none;
  }

  li {
    text-decoration: none;
    margin: auto 2rem;
  }

  p {
    color: white;
  }

}

.button_cadastro p {
  padding: 1rem;
  border-radius: 20px;
  background-color: #f5e9dc;
  font-size: 1.5rem;
  text-decoration: none;
  color: #b450f5;
}

.txt_home {
  width: min-content;
  margin: 9rem auto auto 9rem;
}

.tit_home {
  color: black;
  font-family: "Iansui", cursive;
  font-size: 3rem;
  width: max-content;
  margin: auto auto auto auto;
}


.roxo {
  color: #b450f5;
}

.txt_p {
  font-size: 2rem;
  margin: 3rem auto auto auto;
}

.buttons_home {
  display: flex;
  width: 100%;
  border: solid;
}

.button_orc {
  display: flex;
  width: min-content;
  background-color: #b450f5;
  color: white;
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  padding: .6rem 3rem;


  p {

    width: min-content;
    color: white;
    background-color: #b450f5;
    transition: 300ms;
  }

}

.button_orc:hover {
  padding: .7rem 3.3rem;
  font-size: 1.6rem;
}

/*------------------------------------------------------------------------------------------------------*/

.container {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  margin: auto;
}

.mainbox {
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background-color: transparent;
  border: solid #b450f5;
  transition: all 0.3s ease;

}

.checkbox:focus {
  border: none;
  outline: none;
}

.checkbox:checked {
  right: 10px;
}

.checkbox:checked~.mainbox {
  width: 50px;
}

.checkbox:checked~.mainbox .search_input {
  width: 0;
  height: 0px;
}

.checkbox:checked~.mainbox .iconContainer {
  padding-right: 8px;
}

.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}

.search_input {
  box-sizing: border-box;
  height: max-content;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 1px;
  font-size: 1em;
  color: #b450f5;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
  color: #b450f5;
}

.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.3em;
}