/*Ajustes dos Padrões de Formatação */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Redefinição da função de exibição HTML5 para navegadores mais antigos */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  font-family: "Iansui", cursive;
}

body {
  line-height: 1;
  background-color: #f5e9dc;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fixFloat {
  clear: both;
}

.top {
  background-color: #b450f5;
  width: 100%;
  height: auto;
  display: flex;
}

.nav_header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: super;
}

.ul_header {
  display: inline-flex;
}

.ul_header a {
  text-decoration: none;
}

.ul_header li {
  text-decoration: none;
  margin: auto 2rem;
}

.ul_header p {
  color: white;
}

.button_cadastro p {
  padding: 1rem;
  border-radius: 20px;
  background-color: #f5e9dc;
  font-size: 1.5rem;
  text-decoration: none;
  color: #b450f5;
}

.tit_home {
  border: solid red;
  color: black;
  font-family: "Iansui", cursive;
  font-size: 3rem;
  width: max-content;
  margin: 12rem auto 2rem 8rem;
}

.txt_home {
  border: solid green;
  display: flex;
  color: black;
  width: max-content;

  .p {}
}

.roxo {
  color: #b450f5;
}