body {
  background-image: url(desing/images/ZigZagwpp.png);
}

.popup {
  background-color: #f5e9dc;
  width: 30%;
  margin: 10rem auto;
  list-style: none;
  text-align: center;
  height: 30rem;
}

.tit_log {
  display: list-item;
  color: #b450f5;
  font-weight: bold;
  font-size: 3rem;
}

.txt_log {
  display: list-item;
  padding: auto;
}

.input_log {
  display: list-item;
  margin: auto;
}
